h1 {
    font-family: "Playfair", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: var(--dark);
    margin: 0;
    padding: 16px 0;
}
h2, h3, h4 {
    margin: 0;
}

.nav {
    margin-bottom: 0;
}

.content__block {
    padding: 32px 0 42px;    
}
.content__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px;
}
.content__left {
    min-width: 221px;
    max-width: 221px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
    margin-bottom: 42px;
}
.content__main_large {
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    color: var(--dark);
}
.content__main_large span {
    color: var(--orange);
}
.content__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 12px;
}
.content__list--top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 22px;
}
.content__item img {
    max-width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.content__main_small {
    white-space: pre-line;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: var(--dark);
}
.content__line {
    width: 52px;
    height: 4px;
    background: var(--green);
    border-radius: 24px;
}
.content__name {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: var(--dark);
}
@media (min-width: 744px) {
    h1 {
        font-size: 32px;
        line-height: 43px;
    }
    .content__main_large {
        font-size: 32px;
        line-height: 38px;
    }
}

@media (min-width: 1152px) {
    .content__block {
        padding: 32px 0 82px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 120px;
        width: 1026px;
    }
}